<!DOCTYPE html>
<html lang="en">
<head>
    <title>validation</title>
    <link rel="stylesheet" href="assert/pass.css">

</head>
<body>
    <div class="signform">
        <form action="/" name="form" onsubmit="return validate()" method="post">

            <div id="head">
                <h2>Registation form</h2>
            </div>

            <div id="fname">
            Firstname :<br>
            <input type="text" name="firstname" placeholder="Firstname" required><br>
            <p id="alert1"></p>
            </div>

            <div id="lname">
            Lastname :<br>
            <input type="lastname" name="lastname" placeholder="lastname (optional)"><br>
            <p></p>
            </div>

            <div id="email">
            Email:<br>
            <input type="email" name="eml" placeholder="email"><br>
            <p id="alert2"></p>
            </div>

            <div id="pass">
            password :<br>
            <input type="password" name="password" placeholder="password" required><br>
            <p id="alert3"></p>
            </div>

            <div id="repass">
            Re-enter password :<br>
            <input type="password" name="repass" placeholder="Re-enter password" required><br>
            <p id="alert4"></p>
            </div>

            <button id="btn">Register</button>

        </form>
    </div>

    <!-- <script src="assert/pass.js"></script> -->
</body>
</html>